<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
<section>
<h1>This is contact section</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo ipsa minima in quod necessitatibus impedit vel incidunt et magni similique commodi aperiam rem ratione non hic architecto expedita libero suscipit quia quasi inventore illo optio nulla cumque fuga autem perferendis tempore iure sapiente itaque omnis officia fugiat animi eveniet placeat labore eius accusantium error perspiciatis atque. Repudiandae amet cupiditate aut ipsam ratione illo sequi mollitia. Harum culpa animi doloribus sit esse ratione odit vel minima id ipsa incidunt sequi distinctio rerum quae aliquid voluptatibus nesciunt nobis omnis perferendis quasi officiis tempore excepturi delectus adipisci eaque consequatur enim! Repellendus dignissimos sunt.</p>

</section>
	
</body>
</html>