<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Example</title>
	<link rel="stylesheet" href="" th:href="@{/css/mystyle.css}"/>
</head>
<body>
	  <div class="container">
	  
	  <img src="" class="profile" th:src="@{/images/profile.jpg}" alt="" />
	       <h1>Adding css,javascript and image in thymeleaf</h1>
	       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis quidem ab voluptas quisquam soluta minima delectus quod libero hic obcaecati quasi earum nesciunt itaque quis mollitia sit repudiandae id dolores?</p>
	  
	  </div>
	  
	  <script src="" th:src="@{js/myjs.js}"></script>
</body>
</html>